body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#header{
    display: flex;
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
}
.header-part{
    width: 50%;
    padding-left: 5%;
}
.text-color{
    color: rgb(61, 98, 199);
}
.link-color{
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
h1{
    font-size: 50px;
}
.header-part img{
    width: 100%;
}
#dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.dream-area-part{
    width: 50%;
    padding-right: 5%;
}
.dream-area-part img{
    width: 100%;
}
#ex-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 10%;
}
.ex-area-part{
    display: flex;
    margin: 5px;
}
.ex-area-part h3{
    color: blue;
}
.ex-area-part div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    margin: 20px;
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,red,tomato);
    border-image-slice: 1;
    padding: 15px;
}
#baby{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
    padding: 15px;
}
footer{
    text-align: center;
}
